*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #000A;
    background-blend-mode: darken;
    height: 100vh;
    width: 100vw;
}