*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
:root {
    --cor-destaque: #f1bc0b;
}

body {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #0009;
    background-blend-mode: darken;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

h1 {
    color: white;
    font-size: 3m;
}

main{
    flex-grow: 1;
    display: flex;  
}

section{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias table {
    font-size: 1.5rem;
    border-spacing: 4px;
}
.categorias th{
    background-color: var(--cor-destaque);
    height: 50px;
    width: 500px;
    border-radius: 7px;
}
.categorias td{
    background-color: var(--cor-destaque);
    height: 50px;
    width: 250px;
    border-radius: 7px;
    padding-left: 30px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.calculadora form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculadora .campo{
    display: flex;
    flex-direction: column;
    position: relative;
}

.calculadora .campo.unidade::before {
    content: attr(data-unidade);
    color: black;
    background-color: var(--cor-destaque);
    position: absolute;
    right: 0;
    bottom: 0;
    height: 52px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 7px 7px 0;
}

.calculadora label {
    color: white;
}

.calculadora input{
    height: 50px;
    border: 2px solid var(--cor-destaque);
    background-color: transparent;
    border-radius: 7px;
    outline: none;
    color: white;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}
.calculadora button{
    height: 50px;
    background-color: var(--cor-destaque);
    font-size: 1rem;
    border-radius: 7px;
}
.calculadora .resultado {
    height: 100px;
    background-color: var(--cor-destaque);
    border-radius: 7px;
    padding: 10px;
}
footer{
    height: 40px;
    text-align: center;
}

footer span{
    color: white;
    font-size: .8rem;
    font-style: italic;
    font-weight: 200;
}

    @media (max-width: 768px) {
    .categorias{
        display:none
    }
    h1{
        font-size: 2rem;
    }
    .calculadora form{
        width: 80%;
    }
}

